# configure file for simulation execution
time_management = SyncConShm      #Options: Sequential, Conservative, SyncConShm
end_time = 200
lookahead = 0.1
num_threads = 64
scale_or_not = false
scale_ratio = 10000, 2.0
precision = 0.001
schedule_mode = dynamic
profiler = false
ensure_level = 1
debug_level = 1
