# configure file for simulation execution
time_management = SyncCon     #Options: Sequential, Conservative
end_time = 100
lookahead = 0.1
num_threads = 64
scale_or_not = false
scale_ratio = 10000, 2.0
precision = 0.001
schedule_mode = static
profiler = false
ensure_level = 1
debug_level = 0