# configure file for simulation execution
time_management = AsMixCon      #Options: Sequential, Conservative, AsyncConservativeTBB
end_time = 100
lookahead = 0.9
num_threads = 30
num_LPs = 100
scale_or_not = false
scale_ratio = 10000, 2.0
precision = 0.001
schedule_mode = dynamic
profiler = false
ensure_level = 1
debug_level = 1
