# configure file for simulation execution
time_management = AsyncCon      #Options: Sequential, SyncCon, AsyncCon
end_time = 100
lookahead = 0.9
num_threads = 8
num_LPs = 10
scale_or_not = false
scale_ratio = 10000, 2.0
precision = 0.001
schedule_mode = dynamic
profiler = false
ensure_level = 1
debug_level = 0
